.top_page_nav {

}

.top_page_nav .btn-circle i {
	top: 2px;
	left: 0px;
	font-size: 22px;
}

table tr.selected td {
    background-color: #a9d7aa !important;
}

.action-btn-center{
    text-align: center;
}

.btn.action-btn{
    padding: 0px 3px 0px 3px;
}

.action-btn-panel {
    position: relative;
    top: -30px;
    z-index: 9;
}

#choose_research_form .research-list-ul {
    list-style: none;
}

input.no-border {
    outline: none; 
    border: none
}